* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    user-select: none;
    border-radius: 5px;
}

body{
    background-color: rgb(20, 20, 20);
    color: white;
}

#resourcesList{
    list-style: none;
    padding: 20px;
}

#savingloading{
    padding: 20px;
}

#saveButton, #loadButton{
    padding: 5px;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.tabs{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    list-style-type: none;
}

.tab{
    cursor: pointer;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;

}

.tab:hover, .buttonHover:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 200ms;
}

#coinUpgrades{
    text-align: center;
}

.coinUpgrade{
    border: rgb(255, 255, 255) 1px solid;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px auto;
    cursor: pointer;
    color:yellow;
    background-color: black;
}

#resetButton{
    background-color: black;
    color: rgb(0, 153, 255);
    border: rgb(255, 255, 255) 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 40%;
    margin: 40px auto;
    text-align: center;
    cursor: pointer;
}

#resetButton:hover, #prestigeButton:hover{
    transition: 200ms;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

#prestigeButton{
    background-color: black;
    border: rgb(255, 255, 255) 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 40%;
    margin: 40px auto;
    text-align: center;
    cursor: pointer;
}

#diamondUpgrades{
    display: flex;
    gap: 100px;
    margin: auto;
    width: 600px;
    font-size: 30px;
    padding: 30px;
    color: rgb(0, 153, 255);
}

.dU{
    width: 600px;
    text-align: center;
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    cursor: pointer;
    background-color: black;
}

.diamondUpgradesText{
    text-align: center;
    padding: 20px;
    padding-top: 1px;
}

#pGen1, #pGen2, #pGen3{
    width : 90%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px rgb(255, 255, 255) solid;
    margin: 10px auto;
}

.genBuy{
    border: 1px rgb(255, 255, 255) solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    align-items: center;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
.icons{
    max-width: 25px;
    max-height: 25px;
    align-items: center;
} 

.autoBuyNotBought{
    display: none;
}

#autoBuyButton{
    margin: auto;
    border: solid 1px rgb(255, 255, 255);
    width: 10%;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

#ticksUpgradeButton{
    background-color: black;
    text-align: center;
    border: solid 1px rgb(255, 255, 255);
    padding: 20px;
    width: 20%;
    margin: auto;
    cursor: pointer;
}

#ticksUpgradeButton:hover{
    background-color: white;
    color: black;
}

.yellowCoins{
    color: yellow;
}

.blueDiamonds{
    color: rgb(0, 153, 255);
}

.redRubies{
    color: red;
}

.pinkTicks{
    color: pink;
}

li{
    display: flex;
    align-items: center;
}